.Rproj.user
.Rhistory
.RData
.Ruserdata

.Rproj
.DS_Store
output/.DS_Store



figure/
script/ReadSignatures.R
script/ReadSignatures_initial.R
script/boxplot_vertical_ggplot.R

data/CCLE_LCM/
data/deAndrade/
data/deVries/
data/GSE146771/
data/James_GutAtlas/
data/GSE146771_Zhang_CRC/
data/TCGA/
data/Marisa/DontPush/

output/CD4/DontPush/
output/CD8/DontPush/
output/NK/DontPush/
output/CompareSigs/DontPush/
output/deAndrade/
output/CompareSurvival/

report/CD4_ResExh_CRC_files/
report/CD4_ResExh_CRC_cache/
report/CD8_ResExh_CRC_files/
report/CD8_ResExh_CRC_cache/
report/NK_ResExh_CRC_files/
report/NK_ResExh_CRC_cache/

report/CD4Test_ResExh_CRC_cache/
report/CD4Test_ResExh_CRC_files/
report/CD8Test_ResExh_CRC_cache/
report/CD8Test_ResExh_CRC_files/
report/NKTest_ResExh_CRC_cache/
report/NKTest_ResExh_CRC_files/

report/Compare_Signatures_cache/
report/Compare_Signatures_files/
	
report/*.html
